<div class="text-center">

  <button type="button" (click)="scrollToTop()" class="btn btn-success mx-2"
  routerLink="">                    Dashboard</button>

  <button type="button" (click)="scrollToTop()"class="btn btn-success mx-2"
  routerLink="todoList">            Todo List</button>

  <button type="button" (click)="scrollToTop()"class="btn btn-success mx-2"
  routerLink="attivitaGiornaliere"> Attività Giornaliere</button>

  <button type="button" (click)="scrollToTop()"class="btn btn-success mx-2"
  routerLink="abitudini">           Abitudini</button>

  <button type="button" (click)="scrollToTop()"class="btn btn-success mx-2"
  routerLink="profilo">             My Profilos</button>

</div>
