.footerBackground{

  height: 200px;
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 50px;
  padding-bottom: 60px;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
.insideFooter{
  // padding-top: 30px;
  // padding-bottom: 50px;

  // background-color: rgb(190, 185, 185);
  // border-radius:  15% 15% 0% 0%;
}
