.dashboard1{
  width: 600px;
  max-width: 1000px;
  max-height: 150px;
  color: black;
  background-color: rgb(150, 145, 137);

}
.dashboard2{
  width: 600px;
  max-width: 1000px;
  max-height: 150px;
  color: black;
  background-color: rgb(216, 106, 106);

}
.dashboard3{
  width: 600px;
  max-width: 1000px;
  max-height: 150px;
  color: black;
  background-color: rgb(113, 201, 132);

}
