.puntatoreLoco {
  cursor: pointer;
}
.thisComponent{
  background-color: rgb(26, 24, 24);
  height: 100vh;

}
.superBackground{
  background-image: url(../../../../assets/backgroundApp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divSeparatore{
  height: 40px;
}
.dashboard1{
  width: 600px;
  max-width: 1300px;
  max-height: 1500px;
  color: black;
  background-color: rgb(150, 145, 137);
  border-radius: 10px 10px 10px 10px;
}
.dashboard2{

  width: 600px;
  max-width: 1300px;
  max-height: 1500px;
  color: black;
  background-color: rgb(216, 106, 106);
  border-radius: 10px 10px 10px 10px;
}
.dashboard3{
  width: 600px;
  max-width: 1300px;
  max-height: 1500px;
  color: black;
  background-color: rgb(113, 201, 132);
  border-radius: 10px 10px 10px 10px;
}

.titoloSezione{
  font-size: 1.8rem;
}
.sezioneTesto{
  font-size: 1.2rem;
}
.spazioDedicato{
  background-image: url(../../../../assets/cartelloLegno.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 640px;
  cursor: pointer;
  color: black;
  font-weight: bolder;
}
