.puntatoreLoco {
  cursor: pointer;
}

.dashboard1{
  width: 600px;
  max-width: 1300px;
  max-height: 1500px;
  color: black;
  background-color: rgb(150, 145, 137);
  border-radius: 10px 10px 10px 10px;
}
.dashboard2{
  width: 600px;
  max-width: 1300px;
  max-height: 1500px;
  color: black;
  background-color: rgb(216, 106, 106);
  border-radius: 10px 10px 10px 10px;
}
.dashboard3{
  width: 600px;
  max-width: 1300px;
  max-height: 1500px;
  color: black;
  background-color: rgb(113, 201, 132);
  border-radius: 10px 10px 10px 10px;
}

.titoloSezione{
  font-size: 1.8rem;
}
.sezioneTesto{
  font-size: 1.2rem;
}

