.puntatoreLoco {
  cursor: pointer;
}
.superBackground{
  background-image: url(../../../../assets/backgroundApp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thisComponent{

  background-color: rgb(26, 24, 24);
  height: 100vh;
}

.questoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myTodoList{
  font-weight: bolder;
  font-size: 1.5rem;
  height: 100%;
  width: 580px;
  background-image: url(../../../../assets/cartelliLungo3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.infoRicompense{
  border: 10px ridge #ffaf50;
  background-color: rgb(219, 199, 160);
  font-weight: bold;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 5% 5% 5% 5%;
}
.pngRicompense{
  height: 20px;
}
.divSeparatore{
  height: 50px;
}
.myPopupSweetAlert{
  padding-left: 20px;
  padding-right: 20px;
}
.confirmButton{
  background-image: url(../../../../assets/cartelloLegno.png);
  height: 20px;
}
.custom-btn-class{
  color: black;
}
/////////
/// Button personalizzato
.cartelloBackground{
  background-image: url(../../../../assets/cartelloBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;

}
.Btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "+";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}
