.puntatoreLoco {
  cursor: pointer;
}

.myTodoList{
  font-size: 2rem;
  background: #b3afaf;
  border-radius: 10px 10px 10px 10px;
}
.infoRicompense{
  border: 10px ridge #ffaf50;
  background-color: rgb(219, 199, 160);
  font-weight: bold;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 5% 5% 5% 5%;
}
.pngRicompense{
  height: 20px;
}
.divSeparatore{
  height: 50px;
}
.myPopupSweetAlert{
  padding-left: 20px;
  padding-right: 20px;
}
.confirmButton{
  background-image: url(../../../../assets/cartelloLegno.png);
  height: 20px;
}
.custom-btn-class{
  color: black;
}
