.puntatoreLoco {
  cursor: pointer;
}

.myTodoList{
  font-size: 2rem;
  background: #c97979;
  border-radius: 10px 10px 10px 10px;
}

.myTodoListCompletata{
  font-size: 2rem;
  background: #350e0e;
  color: antiquewhite;
  border-radius: 10px 10px 10px 10px;
}
