.puntatoreLoco {
  cursor: pointer;
}

.myTodoList{
  font-size: 2rem;
  background: #c97979;
  border-radius: 10px 10px 10px 10px;
}

.myTodoListCompletata{
  font-size: 2rem;
  background: #350e0e;
  color: antiquewhite;
  border-radius: 10px 10px 10px 10px;
}
.infoRicompense{
  border: 10px ridge #ffaf50;
  background-color: rgb(219, 199, 160);
  font-weight: bold;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 5% 5% 5% 5%;
}
.pngRicompense{
  height: 20px;
}
.divSeparatore{
  height: 50px;
}
