.puntatoreLoco {
  cursor: pointer;
}
.thisComponent{
  background-color: rgb(26, 24, 24);

  height: 100vh;
}
.questoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myTodoList{
  font-size: 1.5rem;
  font-weight: bolder;
  height: 100%;
  width: 600px;
  background-image: url(../../../../assets/cartelliLungo1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.myTodoListCompletata{
  font-size: 1.5rem;
  font-weight: bolder;
  color: antiquewhite;
  height: 100%;
  width: 600px;
  background-image: url(../../../../assets/cartelliLungo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 2.0;
}
.infoRicompense{
  border: 10px ridge #ffaf50;
  background-color: rgb(219, 199, 160);
  font-weight: bold;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 5% 5% 5% 5%;
}
.pngRicompense{
  height: 20px;
}
.divSeparatore{
  height: 50px;
}
