.game{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-bottom: 60px;
  padding-top: 20px;
}
.content {
  height: 100%;
  margin-top: 330px;
  margin-bottom: 100px;

}
.esperimento{

    background-image: url(../assets/backgroundApp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}
