.allBoldText{
  font-weight: bolder;
}
.cursorLoco{
  cursor: pointer;
}
.infoAvatarInGame{
  border: 10px ridge #ffaf50;
}
.contenitorePG {
  position: relative;
  background-image: url(../../../../assets/villageBackground.jpg);
  background-size:contain;
  height: 330px;
}
.latoPersonaggio{
  border: 10px ridge #ffaf50;
  background-color: rgb(219, 199, 160);
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5% 5% 5% 5%;
}
.personaggio {
  margin-top: 135px;
  width: 150px;
  height: 150px;
}


.textos{
  color: black;
}
.textosAvatar{
  margin-top: 70px;
}

.roomGiorno{
  background-image: url(../../../../assets/Stanza.jpeg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  height: 290px;
}
.roomNotte{
  background-image: url(../../../../assets/StanzaNotte.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  height: 290px;
}

.blackBG{

  background-color: black;
  width: 400px;
  background-position: center;
  height: 290px;
  border-radius: 10px 10px 10px 10px;
}

.barrePersonaggio{
  color: white;

}

.cuoreLife{
  max-height: 30px;
}
.batteryStamina{
  max-height: 40px;
}
.enemyMove{
  max-height: 80px;
}
.enemyMoveSmall{
  max-height: 40px;
}
.enemyTutorial{
  font-size: 0.8rem;
}
.flexMoveEnemy{
  height: 500px;
}

.menuOptions{
  height: 500px;
  width: 750px;
  background-image: url('../../../../assets/missionBoard.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 21px ridge #ffaf50;
}
.cartelloBackground{
  background-image: url('../../../../assets/cartello1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 60px;
  width: 270px;
  color:aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
// .enemyTaglie{

// }

.battleGround{
  height: 800px;
  background-color: antiquewhite;
  border: 21px ridge #ffaf50;
}

.scenarioBattaglia{
  padding-top: 100px;
  border: 23px ridge #380d0d;
  background-image: url(../../../../assets/EsternoNotte.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 500px;
  width: 727px;
  margin: auto;
}
.personaggioInBattaglia{
  margin-top: 100px;
  margin-left: 60px;
  width: 150px;
  height: 150px;
}
.personaggioInBattagliaBankai{

  margin-left: 40px;
  width: 300px;
  height: 300px;
}

.nemicoInBattaglia{
  margin-top: 100px;
  margin-right: 100px;
  width: 150px;
  height: 150px;
}
.nemicoInBattagliaGoblin{
  margin-top: 100px;
  margin-left: 90px;
  width: 150px;
  height: 150px;
}

.menu{
  border: 15px ridge #380d0d;
  width: 250px;
}

//Alla battaglia!
.chooseEnemy{
  width: 200px;
  height: 250px;
  background-image: url('../../../../assets/tagliaEnemy.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  color:aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chooseEnemyChoice{
  cursor: pointer;
  width: 120px;

}
.testoMissioni{

  width: 140px;
  font-size: 0.9rem;
  font-style: italic;
}

.avatarAttack {
  margin-left: 130px;
  margin-top: 100px;
  transition: margin 0.2s ease;
}

.enemyHit {
  margin-right: 110px;
  margin-top: 100px;
  transition: margin 0.05s ease;
}
.enemyHitGoblin {
  margin-left: 100px;
  margin-top: 100px;
  transition: margin 0.05s ease;
}
.avatarHitDefense{
  margin-left: 65px;
  margin-top: 100px;
  transition: margin 0.10s ease;
}

.avatarHit{
  margin-left: 35px;
  margin-top: 90px;
  transition: margin 0.16s ease;
}

.enemyAttack{
  margin-right: 130px;
  margin-top: 100px;
  transition: margin 0.04s ease;
}
.divDefenseText{
  position: absolute;
}
.enemyDefenseText{
  background-image: url(../../../../assets/dialogoBaloon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
  height: 80px;
  width: 150px;
  right: 1950px;
  top: 40px;
  padding-top: 25px;
  padding-left: 20px;
  color: rgb(20, 10, 10);
  text-shadow: 4px 4px 2px rgba(133, 129, 179, 0.6);
  font-weight: bolder;
  font-size: 1rem;
}

.avatarDefenseText{
  background-image: url(../../../../assets/dialogoBaloon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
  left: 40px;
  top: 40px;
  padding-left: 40px;
  padding-top: 20px;
  height: 80px;
  width: 150px;
  // margin-left: 100px;
  // margin-top: 0px;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px 2px rgba(245, 5, 5, 0.6);
  font-weight: bolder;
  font-size: 1.2rem;
}


.cssPerScomparsa {
  opacity: 1;
  transition: opacity 2s ease;
}

.scomparsa {
  opacity: 0.0;
}
.victoryScreen{

  border: 15px ridge #380d0d;
  margin: 0 auto;
  border-radius: 10% 10% 10% 10%;
  height: 420px;
  width: 440px;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../../../assets/VictoryWallpaper2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  backdrop-filter: blur(10px); /* Aggiunge un effetto di sfocatura allo sfondo */
}
.victoryButton{
  width: 150px;
  margin-top: 10px;
}
.defeatedScreen{
  border: 15px ridge #380d0d;
  margin: 0 auto;
  border-radius: 10% 10% 10% 10%;
  height: 420px;
  width: 440px;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../../../assets/VictoryWallpaper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  backdrop-filter: blur(10px); /* Aggiunge un effetto di sfocatura allo sfondo */
}
.deafetedImg{
  height: 150px;
  width: 150px;

}


.gif{
  height: 250px;
  width: 250px;
  margin-right: 50px;
}

.backpackDiv{
  position: absolute;
}
.backpackInventory{
  left: 220px;
  bottom: 20px;
  height: 160px;
  width: 250px;
  position: relative;
  background-image: url(../../../../assets/backpackInventory.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain ;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5% 5% 5% 5%;
}

////////
//Comandi personaggio
.buttonDiv{
  height: 100px;
  width: 100px;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url("../../../../assets/cartello5.png");
  opacity: 1.5;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonDivDisable{
  height: 100px;
  width: 100px;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.4;
  background-image: url("../../../../assets/cartello5.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonAvatar{
  cursor: pointer;
  height: 50px;
}
.buttonAvatarTutorial{
  height: 30px;
}
.textTutorialAvatar{
  font-size: 0.8rem;
}
.boxFlexAvatar{
  height: 400px;
}

////////
//Png vari
.expPng{
  height: 20px;
}
.gold{
  height: 25px;
}
.littleObj{
  height: 45px;
}
.statisticIcon{
  height: 45px;
}

.concentrazione{
  background-image: url('../../../../assets/superAura.png');
}
.buttonAdventureTime{
  background-image: url("../../../../assets/cartello3.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  color: white;
  width: 160px;
  margin-left: 100px;
  padding-right: 10px;
}
.buttonTorniamoCasa{
  background-image: url("../../../../assets/cartello2.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  color: black;
  width: 170px;
  height: 75px;
  margin-left: 100px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.potionsOn{
 height: 40px;
}
.potionsOff{
  height: 40px;
  opacity: 0.5;
}
.cartelloTaglie{
  background-image: url('../../../../assets/cartello4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 70px;
  width: 100px;
  padding-top: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.marketGame{
  border: 10px ridge #ffaf50;
  // background-image: url(../../../../assets/marketGameBackground.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../../assets/marketGameBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 760px;
  width: 970px;
  color:aliceblue;
  font-weight: bold;
  font-size: 1.1rem;
}
.marketContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pozioneAcquistata{
  height: 50px;
}
