
<div class="contenitorePG py-1 text-center text-danger" >
  <div class="bg-black container py-1 text-center text-danger" >
    <div class="blackBG d-flex">

      <ng-template *ngIf="charAndScenario; then giorno else notte"></ng-template>
      <ng-template #giorno>
        <div class="roomGiorno container col-12 me-3">
        <img *ngIf="charAndScenario"
               src="http://www.avatarsinpixels.com/minipix/eyJCb2R5IjoiMSIsIkV5ZXMiOiIyIiwiTW91dGgiOiIzIiwiU29ja3MiOiIxMiIsIlNob2VzIjoiMSIsIlBhbnRzIjoiMSI
               sIlRvcCI6IjMiLCJIYWlyIjoiMSIsInNraW5Ub25lIjoiZTVhY2EyIiwiZXllc1RvbmUiOiJhZTU2YTEiLCJleWVzVG9uZTIiOiIwNjZhOWYiLCJtYXNrVG9uZSI6IjkzZTYwZCIsImhhaXJ
               Ub25lIjoiMTUxZjMyIiwiaGFpclRvbmUyIjoiYWNlYTI5IiwidW5kZXJ3ZWFyVG9uZSI6IjU4MTBlNiIsInVuZGVyd2VhclRvbmUyIjoiZTI5OGQ0IiwicGFudHNUb25lIjoiMDQ0OTZlIiw
               icGFudHNUb25lMiI6Ijk5MzMzMiIsInRvcFRvbmUiOiIxNTFmMzIiLCJ0b3BUb25lMiI6Ijk5MzMzMiIsIndpbmdzVG9uZSI6ImMzOTQ3NyIsIndpbmdzVG9uZTIiOiJlNWFjYTIiLCJzaG9
               lc1RvbmUiOiIxNTFmMzIiLCJzb2Nrc1RvbmUiOiI4MzUyMTMiLCJzb2Nrc1RvbmUyIjoiNGZjYTUyIiwiZ2xvdmVzVG9uZSI6Ijc2MjMyOCIsImdsb3Zlc1RvbmUyIjoiMDhkOTNkIiwiaGF
               0VG9uZSI6IjUwMjdmMiIsImhhdFRvbmUyIjoiMGIzY2ExIiwiY2FwZVRvbmUiOiIyN2NkNDIiLCJjYXBlVG9uZTIiOiIzMDcxNmUiLCJiZWx0VG9uZSI6IjNkNzI5ZSIsImphY2tldFRvbmU
               iOiI0Y2U3MjUiLCJqYWNrZXRUb25lMiI6ImIyYzMxMCIsIm5lY2tUb25lIjoiMDJmOWEyIiwibmVja1RvbmUyIjoiMTU4Yzk0In0=/1/show.png"
        alt="" class="personaggio esperimento" [ngClass]="{'esperimentoTrasparenza': isTransparent}">
        </div>
      </ng-template>
      <ng-template #notte>
        <div class="roomNotte container col-12 me-3">
        <img *ngIf="charAndScenario"
               src="http://www.avatarsinpixels.com/minipix/eyJCb2R5IjoiMSIsIkV5ZXMiOiIyIiwiTW91dGgiOiIzIiwiU29ja3MiOiIxMiIsIlNob2VzIjoiMSIsIlBhbnRzIjoiMSI
               sIlRvcCI6IjMiLCJIYWlyIjoiMSIsInNraW5Ub25lIjoiZTVhY2EyIiwiZXllc1RvbmUiOiJhZTU2YTEiLCJleWVzVG9uZTIiOiIwNjZhOWYiLCJtYXNrVG9uZSI6IjkzZTYwZCIsImhhaXJ
               Ub25lIjoiMTUxZjMyIiwiaGFpclRvbmUyIjoiYWNlYTI5IiwidW5kZXJ3ZWFyVG9uZSI6IjU4MTBlNiIsInVuZGVyd2VhclRvbmUyIjoiZTI5OGQ0IiwicGFudHNUb25lIjoiMDQ0OTZlIiw
               icGFudHNUb25lMiI6Ijk5MzMzMiIsInRvcFRvbmUiOiIxNTFmMzIiLCJ0b3BUb25lMiI6Ijk5MzMzMiIsIndpbmdzVG9uZSI6ImMzOTQ3NyIsIndpbmdzVG9uZTIiOiJlNWFjYTIiLCJzaG9
               lc1RvbmUiOiIxNTFmMzIiLCJzb2Nrc1RvbmUiOiI4MzUyMTMiLCJzb2Nrc1RvbmUyIjoiNGZjYTUyIiwiZ2xvdmVzVG9uZSI6Ijc2MjMyOCIsImdsb3Zlc1RvbmUyIjoiMDhkOTNkIiwiaGF
               0VG9uZSI6IjUwMjdmMiIsImhhdFRvbmUyIjoiMGIzY2ExIiwiY2FwZVRvbmUiOiIyN2NkNDIiLCJjYXBlVG9uZTIiOiIzMDcxNmUiLCJiZWx0VG9uZSI6IjNkNzI5ZSIsImphY2tldFRvbmU
               iOiI0Y2U3MjUiLCJqYWNrZXRUb25lMiI6ImIyYzMxMCIsIm5lY2tUb25lIjoiMDJmOWEyIiwibmVja1RvbmUyIjoiMTU4Yzk0In0=/1/show.png"
        alt="" class="personaggio">
        </div>
      </ng-template>


     <div class="latoPersonaggio d-flex justify-content-between col-12 align-self-center">
       <div class="barrePersonaggio col-12">
          <p class="">Livello personaggio</p>
          <div class=" d-flex justify-content-center">
            <div class="pb-3" *ngFor="let avatarLife of avatarLifeArray">
              <img class="cuoreLife" [src]="avatarLife" alt="">
            </div>
          </div>
          <p class="">Barra della stanchezza</p>
          <p class="">Barra del mana</p>
          <p class="textos">
            Forza:     <span class="pe-4">     3</span>
            Armatura:  <span class="pe-4">     4</span>
            Velocità:  <span class="pe-4">     4</span>
          </p>
        </div>
        <div class="latoPersonaggio statistiche col-6 align-self-center ms-4 pt-3">
          <p>PUNTI AZIONE: <span>5</span></p>
          <p>Soldoni: $<span>500</span></p>
        </div>

        <ng-template *ngIf="charAndScenario; then combattimento else torniamoACasa"></ng-template>
        <ng-template #combattimento>
          <div class="align-self-center col-12">
            <button (click)="chooseCamaign()" class="py-3 btn btn-danger">Adventure Time!</button>
          </div>
        </ng-template>
        <ng-template #torniamoACasa>
          <div class="align-self-center col-12">
            <button (click)="toBattle(); svuotaBattleground()" class="py-5 btn btn-success">Torniamo a casa</button>
          </div>
        </ng-template>

      </div>

    </div>
  </div>
</div>

<!-- SELEZIONE MISSIONE -->
<div *ngIf="menuCampaign" class="container d-flex flex-column text-center menuOptions py-3 ps-4">
  <h1 class="mt-2 mb-5">SCEGLI LA TUA AVVENTURA</h1>
  <div class="d-flex container flex-column ">

    <div class="d-flex justify-content-center">

      <div class="chooseEnemy me-3">
        <img (click)="enemyChooseGoblin()" src="../../../../assets/GoblinStandard.png"
        alt="" class="chooseEnemyChoice">
      </div>
      <div class="chooseEnemy me-3">
        <img (click)="enemyChooseMiniBoss()" src="http://www.avatarsinpixels.com/minipix/eyJXaW5
      ncyI6IjYiLCJIYWlyTG93ZXIiOiI1IiwiQ2FwZUJhY2siOiIzIiwiQm9keSI6IjMiL
      CJFeWVzIjoiMjgiLCJNb3V0aCI6IjE3IiwiU2hvZXMiOiI1IiwiR2xvdmVzIjoiNyI
      sIlBhbnRzIjoiMyIsIlRvcCI6IjE2IiwiQmVsdCI6IjEiLCJKYWNrZXQiOiIzIiwiQ
      2FwZSI6IjQiLCJOZWNrIjoiMyIsIkhhaXIiOiIxNiIsIkdsYXNzZXMiOiIxMyIsImh
      haXJUb25lIjoiYmViZWJlIiwicGFudHNUb25lIjoiODMwNTA1IiwicGFudHNUb25lM
      iI6ImVmMDAwMCIsInRvcFRvbmUiOiI1NTU1NTUiLCJ3aW5nc1RvbmUiOiI5ZjBiMjM
      iLCJ3aW5nc1RvbmUyIjoiMDUwMjM3IiwiY2FwZVRvbmUiOiIyYTQ0MTAiLCJiZWx0V
      G9uZSI6IjlmMGIyMyIsImphY2tldFRvbmUiOiI4MzA1MDUifQ==/1/show.png"
        alt="" class="chooseEnemyChoice" >
      </div>

    </div>
    <div class="d-flex justify-content-center">
      <p class="testoMissioni me-4">Piccola avventura con 2 combattimenti facili.</p>
      <p class="testoMissioni">Battaglia contro nemico più forte.</p>
    </div>
  </div>
  <div>
    <button (click)="annullaCamaign()" class="py-3 btn btn-primary">Annulla campagna</button>
  </div>
</div>

<!-- CAMPO DI BATTAGLIA -->
<div *ngIf="!battleGround" class="container d-flex battleGround py-3 ps-4">

  <div class="menu text-center">
    <p class="mt-4">Stamina: {{ staminaPoints }}</p>
    <div></div>
    <div class="d-flex flex-column justify-content-start align-items-start ms-3">
      <div class="pb-3" *ngFor="let avatarLife of avatarLifeArray">
        <img class="cuoreLife" [src]="avatarLife" alt="">
      </div>
    </div>
  </div>

  <div class="">

    <div class="scenarioBattaglia d-flex flex-column ">
        <div class="d-flex text-center justify-content-between">
<!-- AREA PERSONAGGIO -->
          <div class="">
            <img *ngIf="avatarStandards"
              src="../../../../assets/AvatarSTANDARD.png"
            alt="" class="personaggioInBattaglia" [ngClass]="{ 'avatarAttack': avatarColpisce }">

            <img *ngIf="avatarAttacco"
              src="../../../../assets/AvatarCOMBATATTACCO.png"
            alt="" class="personaggioInBattaglia" [ngClass]="{ 'avatarAttack': avatarColpisce }">

            <img *ngIf="avatarDefense"
              src="../../../../assets/AvatarCombatDIFESA.png"
            alt="" class="personaggioInBattaglia" [ngClass]="{ 'avatarAttack': avatarColpisce, 'avatarHitDefense': avatarHitDefense }">

            <img *ngIf="avatarDamage"
              src="../../../../assets/AvatarCOMBATDANNO.png"
            alt="" class="personaggioInBattaglia" [ngClass]="{ 'avatarHit': avatarDamage, 'avatarHitDefense': avatarHitDefense }">
          </div>

<!-- AREA NEMICO -->
          <div class="">
            <!-- AVVENTURA GOBLIN -->
            <img *ngIf="enemyGoblinStandard"
            src="../../../../assets/GoblinStandard.png"
            alt="" class="nemicoInBattaglia align-self-center cssPerScomparsa" [ngClass]="{ 'enemyHit': enemyColpito, 'enemyAttack' : enemyAttack, 'scomparsa': isTransparent}">
            <img *ngIf="enemyGoblinSkirmisher"
            src="../../../../assets/GoblinSkirmisher.png"
            alt="" class="nemicoInBattaglia align-self-center cssPerScomparsa" [ngClass]="{ 'enemyHit': enemyColpito, 'enemyAttack' : enemyAttack, 'scomparsa': isTransparent}">
            <!-- MINI BOSS -->
            <img *ngIf="enemyMiniBoss"
      src="http://www.avatarsinpixels.com/minipix/eyJXaW5ncyI6IjYiLCJIYWlyTG93ZXIiOiI1IiwiQ2FwZUJhY2siOiIzIiwiQm9keSI6IjMiL
      CJFeWVzIjoiMjgiLCJNb3V0aCI6IjE3IiwiU2hvZXMiOiI1IiwiR2xvdmVzIjoiNyIsIlBhbnRzIjoiMyIsIlRvcCI6IjE2IiwiQmVsdCI6IjEiLCJKYW
      NrZXQiOiIzIiwiQ2FwZSI6IjQiLCJOZWNrIjoiMyIsIkhhaXIiOiIxNiIsIkdsYXNzZXMiOiIxMyIsImhhaXJUb25lIjoiYmViZWJlIiwicGFudHNUb25
      lIjoiODMwNTA1IiwicGFudHNUb25lMiI6ImVmMDAwMCIsInRvcFRvbmUiOiI1NTU1NTUiLCJ3aW5nc1RvbmUiOiI5ZjBiMjMiLCJ3aW5nc1RvbmUyIjoi
      MDUwMjM3IiwiY2FwZVRvbmUiOiIyYTQ0MTAiLCJiZWx0VG9uZSI6IjlmMGIyMyIsImphY2tldFRvbmUiOiI4MzA1MDUifQ==/1/show.png"
            alt="" class="nemicoInBattaglia align-self-center cssPerScomparsa" [ngClass]="{ 'enemyHit': enemyColpito, 'enemyAttack' : enemyAttack, 'scomparsa': isTransparent}">
          </div>
        </div>

        <!-- DIALOGHI AVATAR -->
        <div class="col-12 d-flex justify-content-start align-items-start">
          <p class="avatarDefenseText " *ngIf="!iCantDefense">Mi servono PA!!</p>
        </div>
        <!-- DIALOGHI NEMICI -->
        <div class="col-12 d-flex justify-content-end align-items-end">
          <p class="enemyDefenseText enemyText" *ngIf="!provokeBoss">Questa sarà la tua tomba!</p>
          <p class="enemyDefenseText enemyText" *ngIf="!enemyDefense">MI DIFENDOOO!!!</p>
          <p class="enemyDefenseText enemyText" *ngIf="!bothDefense">Codardo, attaccami!!!</p>
          <p class="enemyDefenseText enemyText" *ngIf="!versusConcentrazione">Non ti servirà!!!</p>


          <p class="enemyDefenseText enemyText" *ngIf="!provokeGoblin">Io uccide te!!!</p>
          <p class="enemyDefenseText enemyText" *ngIf="!enemyDefenseGoblin">IO BLOCCA!!!</p>
          <p class="enemyDefenseText enemyText" *ngIf="!bothDefenseGoblin">Waaaagh!!!</p>
          <p class="enemyDefenseText enemyText" *ngIf="!versusConcencGoblin">????</p>
        </div>

    </div>

      <div class="battleButtons d-flex justify-content-center">
        <button [disabled]="disableButton" (click)="toBattleAttack()" class="mx-3 mt-3">Attacca</button>
        <button [disabled]="disableButton" (click)="toBattleDefense()" class="mx-3 mt-3">Difendi</button>
        <button [disabled]="disableButton" (click)="concentrazione()" class="mx-3 mt-3">Concentrazione</button>
        <button [disabled]="disableButton" (click)="avatarWin()" class="mx-3 mt-3">AvatarWin</button>



      </div>

  </div>

  <div class="menu text-center">
    <p class="mt-4">Nemico-> {{ newEnemyAction }}</p>
    <div class="d-flex flex-column justify-content-end align-items-end me-3">
      <div class="pb-3" *ngFor="let enemyLife of enemyLifeArray">
        <img class="cuoreLife" [src]="enemyLife" alt="">
      </div>
    </div>
  </div>

</div>

<div class="victoryScreen d-flex flex-column" *ngIf="!victoryScreen">
  <img src="../../../../assets/Victory.png" alt="">
    <button class="btn btn-success justify-content-start align-self-center victoryButton"
      (click)="victoryScreen = false">Torna nella ToGameList
    </button>
</div>
