
<div class="contenitorePG py-1 text-center text-danger" >
  <div class="bg-black container py-1 text-center text-danger" >
    <div class="blackBG d-flex">

      <ng-template *ngIf="charAndScenario; then giorno else notte"></ng-template>
      <ng-template #giorno>
        <div class="roomGiorno container col-12 me-3">
        <img *ngIf="charAndScenario"
               src="http://www.avatarsinpixels.com/minipix/eyJCb2R5IjoiMSIsIkV5ZXMiOiIyIiwiTW91dGgiOiIzIiwiU29ja3MiOiIxMiIsIlNob2VzIjoiMSIsIlBhbnRzIjoiMSI
               sIlRvcCI6IjMiLCJIYWlyIjoiMSIsInNraW5Ub25lIjoiZTVhY2EyIiwiZXllc1RvbmUiOiJhZTU2YTEiLCJleWVzVG9uZTIiOiIwNjZhOWYiLCJtYXNrVG9uZSI6IjkzZTYwZCIsImhhaXJ
               Ub25lIjoiMTUxZjMyIiwiaGFpclRvbmUyIjoiYWNlYTI5IiwidW5kZXJ3ZWFyVG9uZSI6IjU4MTBlNiIsInVuZGVyd2VhclRvbmUyIjoiZTI5OGQ0IiwicGFudHNUb25lIjoiMDQ0OTZlIiw
               icGFudHNUb25lMiI6Ijk5MzMzMiIsInRvcFRvbmUiOiIxNTFmMzIiLCJ0b3BUb25lMiI6Ijk5MzMzMiIsIndpbmdzVG9uZSI6ImMzOTQ3NyIsIndpbmdzVG9uZTIiOiJlNWFjYTIiLCJzaG9
               lc1RvbmUiOiIxNTFmMzIiLCJzb2Nrc1RvbmUiOiI4MzUyMTMiLCJzb2Nrc1RvbmUyIjoiNGZjYTUyIiwiZ2xvdmVzVG9uZSI6Ijc2MjMyOCIsImdsb3Zlc1RvbmUyIjoiMDhkOTNkIiwiaGF
               0VG9uZSI6IjUwMjdmMiIsImhhdFRvbmUyIjoiMGIzY2ExIiwiY2FwZVRvbmUiOiIyN2NkNDIiLCJjYXBlVG9uZTIiOiIzMDcxNmUiLCJiZWx0VG9uZSI6IjNkNzI5ZSIsImphY2tldFRvbmU
               iOiI0Y2U3MjUiLCJqYWNrZXRUb25lMiI6ImIyYzMxMCIsIm5lY2tUb25lIjoiMDJmOWEyIiwibmVja1RvbmUyIjoiMTU4Yzk0In0=/1/show.png"
        alt="" class="personaggio esperimento" [ngClass]="{'esperimentoTrasparenza': isTransparent}">
        </div>
      </ng-template>
      <ng-template #notte>
        <div class="roomNotte container col-12 me-3">
        <img *ngIf="charAndScenario"
               src="http://www.avatarsinpixels.com/minipix/eyJCb2R5IjoiMSIsIkV5ZXMiOiIyIiwiTW91dGgiOiIzIiwiU29ja3MiOiIxMiIsIlNob2VzIjoiMSIsIlBhbnRzIjoiMSI
               sIlRvcCI6IjMiLCJIYWlyIjoiMSIsInNraW5Ub25lIjoiZTVhY2EyIiwiZXllc1RvbmUiOiJhZTU2YTEiLCJleWVzVG9uZTIiOiIwNjZhOWYiLCJtYXNrVG9uZSI6IjkzZTYwZCIsImhhaXJ
               Ub25lIjoiMTUxZjMyIiwiaGFpclRvbmUyIjoiYWNlYTI5IiwidW5kZXJ3ZWFyVG9uZSI6IjU4MTBlNiIsInVuZGVyd2VhclRvbmUyIjoiZTI5OGQ0IiwicGFudHNUb25lIjoiMDQ0OTZlIiw
               icGFudHNUb25lMiI6Ijk5MzMzMiIsInRvcFRvbmUiOiIxNTFmMzIiLCJ0b3BUb25lMiI6Ijk5MzMzMiIsIndpbmdzVG9uZSI6ImMzOTQ3NyIsIndpbmdzVG9uZTIiOiJlNWFjYTIiLCJzaG9
               lc1RvbmUiOiIxNTFmMzIiLCJzb2Nrc1RvbmUiOiI4MzUyMTMiLCJzb2Nrc1RvbmUyIjoiNGZjYTUyIiwiZ2xvdmVzVG9uZSI6Ijc2MjMyOCIsImdsb3Zlc1RvbmUyIjoiMDhkOTNkIiwiaGF
               0VG9uZSI6IjUwMjdmMiIsImhhdFRvbmUyIjoiMGIzY2ExIiwiY2FwZVRvbmUiOiIyN2NkNDIiLCJjYXBlVG9uZTIiOiIzMDcxNmUiLCJiZWx0VG9uZSI6IjNkNzI5ZSIsImphY2tldFRvbmU
               iOiI0Y2U3MjUiLCJqYWNrZXRUb25lMiI6ImIyYzMxMCIsIm5lY2tUb25lIjoiMDJmOWEyIiwibmVja1RvbmUyIjoiMTU4Yzk0In0=/1/show.png"
        alt="" class="personaggio">
        </div>
      </ng-template>


     <div class="latoPersonaggio d-flex justify-content-between col-12 align-self-center">
       <div class="barrePersonaggio col-12">
          <p class="">Livello personaggio {{profileAvatarLevel}}</p>
          <div class=" d-flex justify-content-center">
            <div class="pb-3" *ngFor="let avatarLife of avatarLifeArray">
              <img class="cuoreLife" [src]="avatarLife" alt="">
            </div>
          </div>
          <div class=" d-flex justify-content-center">
            <div class="pb-3" *ngFor="let batteryStamina of avatarStaminaArray">
              <img class="batteryStamina mx-2" [src]="batteryStamina" alt="">
            </div>
          </div>

        </div>
        <div class="col-6 align-self-center ms-4">
          <div class="latoPersonaggio statistiche  pt-2">
            <p><span><img class="expPng" src="../../../../assets/EXP.png" alt=""></span> {{profileAvatarExp}}</p>
            <p><span><img class="gold" src="../../../../assets/moneta.png" alt=""></span> {{profileAvatarGold}}</p>
          </div>
          <button (click)="toGameListTutorials = true" class="btn btn-primary mt-2" *ngIf="!toGameListTutorials">Tutorial</button>
          <button (click)="toGameListTutorials = false" class="btn btn-primary mt-2" *ngIf="toGameListTutorials">Tutorial</button>


        </div>


        <ng-template *ngIf="charAndScenario; then combattimento else torniamoACasa"></ng-template>
        <ng-template #combattimento>
          <div class="align-self-center col-12">
            <div (click)="chooseCamaign()" class="py-3 buttonAdventureTime">Adventure Time!</div>
          </div>
        </ng-template>
        <ng-template #torniamoACasa>
          <div class="align-self-center align-self-center col-12">
            <div (click)="toBattle(); svuotaBattleground()" class="buttonTorniamoCasa  align-self-center">Torniamo a casa</div>
          </div>
        </ng-template>

      </div>

    </div>
  </div>
</div>

<!-- SELEZIONE MISSIONE -->
<div *ngIf="menuCampaign" class="container d-flex flex-column text-center menuOptions py-3 ps-4">
  <h1 class="col-6 cartelloBackground align-self-center mt-2 mb-5">TAGLIE</h1>
  <div class="d-flex container flex-column ">

    <div class="d-flex justify-content-center align-items-start">

      <div class="chooseEnemy enemyTaglie me-3 d-flex flex-column">
        <img (click)="enemyChooseGoblin()" src="../../../../assets/GoblinStandard.png"
        alt="" class="chooseEnemyChoice">
        <p class="testoMissioni text-center text-dark">Piccola avventura con 2 combattimenti facili.</p>
      </div>
      <div class="chooseEnemy enemyTaglie me-3 d-flex flex-column">
        <img (click)="enemyChooseMiniBoss()" src="http://www.avatarsinpixels.com/minipix/eyJXaW5
      ncyI6IjYiLCJIYWlyTG93ZXIiOiI1IiwiQ2FwZUJhY2siOiIzIiwiQm9keSI6IjMiL
      CJFeWVzIjoiMjgiLCJNb3V0aCI6IjE3IiwiU2hvZXMiOiI1IiwiR2xvdmVzIjoiNyI
      sIlBhbnRzIjoiMyIsIlRvcCI6IjE2IiwiQmVsdCI6IjEiLCJKYWNrZXQiOiIzIiwiQ
      2FwZSI6IjQiLCJOZWNrIjoiMyIsIkhhaXIiOiIxNiIsIkdsYXNzZXMiOiIxMyIsImh
      haXJUb25lIjoiYmViZWJlIiwicGFudHNUb25lIjoiODMwNTA1IiwicGFudHNUb25lM
      iI6ImVmMDAwMCIsInRvcFRvbmUiOiI1NTU1NTUiLCJ3aW5nc1RvbmUiOiI5ZjBiMjM
      iLCJ3aW5nc1RvbmUyIjoiMDUwMjM3IiwiY2FwZVRvbmUiOiIyYTQ0MTAiLCJiZWx0V
      G9uZSI6IjlmMGIyMyIsImphY2tldFRvbmUiOiI4MzA1MDUifQ==/1/show.png"
        alt="" class="chooseEnemyChoice" >
        <p class="testoMissioni text-center text-dark">Battaglia contro nemico più forte.</p>
      </div>

    </div>


  </div>
  <div class="justify-content-center align-self-center">
    <div (click)="annullaCamaign()" class="cartelloTaglie text-center text-dark">ESCI</div>
  </div>
</div>

<!-- CAMPO DI BATTAGLIA -->
<div *ngIf="!battleGround" class="container d-flex battleGround py-3 ps-4">

  <div class="latoPersonaggio menu text-center">
    <div class="d-flex justify-content-center align-items-start ms-3">
      <div class="pb-3" *ngFor="let batteryStamina of avatarStaminaArray">
        <img class="batteryStamina mt-2 me-2" [src]="batteryStamina" alt="">
      </div>
    </div>

    <div class="d-flex ">
      <div class="d-flex flex-column justify-content-start align-items-start ms-3">
        <div class="pb-3" *ngFor="let avatarLife of avatarLifeArray">
          <img class="cuoreLife" [src]="avatarLife" alt="">
        </div>
      </div>
        <div class="textos">
          <p><img class="ms-5 statisticIcon" src="../../../../assets/strenghtAvatar.png" alt="">  <span class="pe-4">     {{profileAvatarStrength}}</span></p>
          <p><img class="ms-5 statisticIcon" src="../../../../assets/armorAvatar.png" alt="">  <span class="pe-4">     {{profileAvatarArmor}}</span></p>
          <p><img class="ms-5 statisticIcon" src="../../../../assets/runAvatar.png" alt="">  <span class="pe-4">     {{profileAvatarSpeed}}</span></p>
        </div>
    </div>
  </div>

  <div class="">

    <div class="scenarioBattaglia d-flex flex-column ">
        <div class="d-flex text-center justify-content-between">
<!-- AREA PERSONAGGIO -->
          <div class="">
            <div *ngIf="avatarStandards" [ngClass]="{ 'concentrazione' : superAura1 }">
              <img
              src="../../../../assets/AvatarSTANDARD.png"
              alt="" class="personaggioInBattaglia" [ngClass]="{ 'avatarAttack': avatarColpisce}">
            </div>

            <img *ngIf="avatarAttacco"
              src="../../../../assets/AvatarCOMBATATTACCO.png"
            alt="" class="personaggioInBattaglia" [ngClass]="{ 'avatarAttack': avatarColpisce }">

            <img *ngIf="avatarDefense"
              src="../../../../assets/AvatarCombatDIFESA.png"
            alt="" class="personaggioInBattaglia" [ngClass]="{ 'avatarAttack': avatarColpisce, 'avatarHitDefense': avatarHitDefense }">

            <img *ngIf="avatarDamage"
              src="../../../../assets/AvatarCOMBATDANNO.png"
            alt="" class="personaggioInBattaglia" [ngClass]="{ 'avatarHit': avatarDamage, 'avatarHitDefense': avatarHitDefense }">

            <div *ngIf="avatarSkillStart" [ngClass]="{ 'concentrazione' : superAuraBankai }">
              <img
              src="../../../../assets/AvatarSkillINIZIO.png"
              alt="" class="personaggioInBattaglia" [ngClass]="{ 'avatarHit': avatarDamage, 'avatarHitDefense': avatarHitDefense }">
            </div>

            <img *ngIf="avatarSkillAtk"
              src="../../../../assets/AvatarSkillFINE.png"
            alt="" class="personaggioInBattaglia" [ngClass]="{ 'avatarHit': avatarDamage, 'avatarHitDefense': avatarHitDefense }">
            </div>

<!-- AREA NEMICO -->
          <div class="">
            <!-- AVVENTURA GOBLIN -->
            <img *ngIf="enemyGoblinStandard"
            src="../../../../assets/GoblinStandard.png"
            alt="" class="nemicoInBattaglia align-self-center cssPerScomparsa" [ngClass]="{ 'enemyHit': enemyColpito, 'enemyAttack' : enemyAttack, 'scomparsa': isTransparent}">
            <img *ngIf="enemyGoblinSkirmisher"
            src="../../../../assets/GoblinSkirmisher.png"
            alt="" class="nemicoInBattaglia align-self-center cssPerScomparsa" [ngClass]="{ 'enemyHit': enemyColpito, 'enemyAttack' : enemyAttack, 'scomparsa': isTransparent}">
            <!-- MINI BOSS -->
            <img *ngIf="enemyMiniBoss"
      src="http://www.avatarsinpixels.com/minipix/eyJXaW5ncyI6IjYiLCJIYWlyTG93ZXIiOiI1IiwiQ2FwZUJhY2siOiIzIiwiQm9keSI6IjMiL
      CJFeWVzIjoiMjgiLCJNb3V0aCI6IjE3IiwiU2hvZXMiOiI1IiwiR2xvdmVzIjoiNyIsIlBhbnRzIjoiMyIsIlRvcCI6IjE2IiwiQmVsdCI6IjEiLCJKYW
      NrZXQiOiIzIiwiQ2FwZSI6IjQiLCJOZWNrIjoiMyIsIkhhaXIiOiIxNiIsIkdsYXNzZXMiOiIxMyIsImhhaXJUb25lIjoiYmViZWJlIiwicGFudHNUb25
      lIjoiODMwNTA1IiwicGFudHNUb25lMiI6ImVmMDAwMCIsInRvcFRvbmUiOiI1NTU1NTUiLCJ3aW5nc1RvbmUiOiI5ZjBiMjMiLCJ3aW5nc1RvbmUyIjoi
      MDUwMjM3IiwiY2FwZVRvbmUiOiIyYTQ0MTAiLCJiZWx0VG9uZSI6IjlmMGIyMyIsImphY2tldFRvbmUiOiI4MzA1MDUifQ==/1/show.png"
            alt="" class="nemicoInBattaglia align-self-center cssPerScomparsa" [ngClass]="{ 'enemyHit': enemyColpito, 'enemyAttack' : enemyAttack, 'scomparsa': isTransparent}">
            <img class="gif" *ngIf="gifExplosion" src="../../../../assets/gifExplosion.gif" alt="">
          </div>
        </div>

        <!-- DIALOGHI AVATAR -->
        <div class="divDefenseText col-12 d-flex justify-content-start align-items-start">
          <p class="avatarDefenseText " *ngIf="!iCantDefense">Stamina!!</p>
          <p class="avatarDefenseText " *ngIf="avatarSkillAtk">BANKAI!!</p>
        </div>
        <!-- DIALOGHI NEMICI -->
        <div class="divDefenseText col-12 d-flex justify-content-end align-items-end">
          <p class="enemyDefenseText" *ngIf="!provokeBoss">Morirai qui...</p>
          <p class="enemyDefenseText" *ngIf="!enemyDefense">Seriamente?</p>
          <p class="enemyDefenseText" *ngIf="!bothDefense">Codardo...</p>
          <p class="enemyDefenseText" *ngIf="!versusConcentrazione">Non ti servirà!!!</p>


          <p class="enemyDefenseText" *ngIf="!provokeGoblin">Io uccide te!!!</p>
          <p class="enemyDefenseText" *ngIf="!enemyDefenseGoblin">IO BLOCCA!!!</p>
          <p class="enemyDefenseText" *ngIf="!bothDefenseGoblin">Waaaagh!!!</p>
          <p class="enemyDefenseText" *ngIf="!versusConcencGoblin">????</p>
        </div>

    </div>

      <div class="battleButtons d-flex flex-column justify-content-center text-center">
        <div class="d-flex col-12 justify-content-center text-center">

          <div *ngIf="!disableButton" [ngClass]="{ 'buttonDiv': !disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3" (click)="toBattleAttack()" src="../../../../assets/spadaAvatar.png" alt=""></div>
          <div *ngIf="disableButton" [ngClass]="{ 'buttonDivDisable' : disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3" src="../../../../assets/spadaAvatar.png" alt=""></div>

          <div *ngIf="!disableButton" [ngClass]="{ 'buttonDiv': !disableButton }"
          class="buttonDiv"><img class="buttonAvatar mt-3" (click)="toBattleDefense()" src="../../../../assets/scudoAvatar.png" alt=""></div>
          <div *ngIf="disableButton" [ngClass]="{ 'buttonDivDisable' : disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3" src="../../../../assets/scudoAvatar.png" alt=""></div>

          <div *ngIf="!disableButton" [ngClass]="{ 'buttonDiv': !disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3" (click)="concentrazione(); superAura()" src="../../../../assets/meditationAvatar.png" alt=""></div>
          <div *ngIf="disableButton" [ngClass]="{'buttonDivDisable' : disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3" src="../../../../assets/meditationAvatar.png" alt=""></div>
        </div>
        <div class="d-flex col-12 justify-content-center text-center">

          <div *ngIf="!disableButton" [ngClass]="{ 'buttonDiv': !disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3" (click)="swordAndShield()" src="../../../../assets/spadaScudoAvatar.png" alt=""></div>
          <div *ngIf="disableButton" [ngClass]="{ 'buttonDivDisable' : disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3" src="../../../../assets/spadaScudoAvatar.png" alt=""></div>

          <div *ngIf="!disableButton" [ngClass]="{ 'buttonDiv': !disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3 littleObj" (click)="secretSkill(); superAuraBankaiMetod()" src="../../../../assets/secretSkill.png" alt=""></div>
          <div *ngIf="disableButton" [ngClass]="{ 'buttonDivDisable' : disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3 littleObj" src="../../../../assets/secretSkill.png" alt=""></div>

          <div *ngIf="!disableButton" [ngClass]="{ 'buttonDiv': !disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3" (click)="useObject()" src="../../../../assets/backpack.png" alt=""></div>
          <div *ngIf="disableButton" [ngClass]="{ 'buttonDivDisable' : disableButton}"
          class="buttonDiv"><img class="buttonAvatar mt-3" src="../../../../assets/backpack.png" alt=""></div>

          <div class="backpackDiv" *ngIf="inventario">
            <div class="backpackInventory"  >
              <div class="d-flex">
                <div class="d-flex justify-content-end align-items-end ms-2 pt-2">
                  <img class="buttonAvatar" (click)="inventario = false" src="../../../../assets/backpack.png" alt="">
                </div>
                <div>
                  <div>
                    <img (click)="usePotion(potionH1,'H'); potionH1 = false" class=" mt-2  ms-3" src="../../../../assets/pozioneCuore.png" alt="" [ngClass]="{ 'potionsOn' : potionH1 , 'potionsOff' : !potionH1}">
                    <img (click)="usePotion(potionH2,'H'); potionH2 = false" class=" mt-2  ms-3" src="../../../../assets/pozioneCuore.png" alt="" [ngClass]="{ 'potionsOn' : potionH2 , 'potionsOff' : !potionH2}">
                    <img (click)="usePotion(potionH3,'H'); potionH3 = false" class=" mt-2  ms-3" src="../../../../assets/pozioneCuore.png" alt="" [ngClass]="{ 'potionsOn' : potionH3 , 'potionsOff' : !potionH3}">
                  </div>
                  <div>
                    <img (click)="usePotion(potionS1, 'S'); potionS1 = false" class="potionsOn mt-2 ms-4" src="../../../../assets/pozioneStamina.png" alt="" [ngClass]="{ 'potionsOn' : potionS1 , 'potionsOff' : !potionS1}">
                    <img (click)="usePotion(potionS2, 'S'); potionS2 = false" class="potionsOn mt-2 ms-4" src="../../../../assets/pozioneStamina.png" alt="" [ngClass]="{ 'potionsOn' : potionS2 , 'potionsOff' : !potionS2}">
                    <img (click)="usePotion(potionS3, 'S'); potionS3 = false" class="potionsOn mt-2 ms-4" src="../../../../assets/pozioneStamina.png" alt="" [ngClass]="{ 'potionsOn' : potionS3 , 'potionsOff' : !potionS3}">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>

    </div>


  <div class="latoPersonaggio menu text-center">
    <p class="">Mossa nemica</p>
    <div [ngSwitch]="newEnemyAction">
      <div *ngSwitchCase="'ATTACCO'"><img class="enemyMove mt-1" src="../../../../assets/sword.png" alt=""></div>
      <div *ngSwitchCase="'DIFESA'"><img class="enemyMove mt-1" src="../../../../assets/shield.png" alt=""></div>
      <div *ngSwitchCase="'ATTACCO X2'"><img class="enemyMove mt-1" src="../../../../assets/swordX2.png" alt=""></div>
      <div *ngSwitchDefault>---</div>
    </div>
    <div class="d-flex flex-column justify-content-end align-items-end me-3">
      <div class="pb-3" *ngFor="let enemyLife of enemyLifeArray">
        <img class="cuoreLife" [src]="enemyLife" alt="">
      </div>
    </div>
  </div>

</div>

<div class="victoryScreen d-flex flex-column" *ngIf="victoryScreen">
  <img src="../../../../assets/Victory.png" alt="">
    <button class="btn btn-success justify-content-start align-self-center victoryButton"
      (click)="victoryScreen = false">Torna nella ToGameList
    </button>
</div>
<div class="defeatedScreen d-flex flex-column justify-content-center" *ngIf="loseScreen">
  <p class="text-center allBoldText">Dovrai prepararti meglio</p>
  <p class="text-center allBoldText">la prossima volta.</p>
  <img class="deafetedImg align-self-center" src="../../../../assets/rip.png" alt="">
    <button class="btn btn-success justify-content-start align-self-center allBoldText"
      (click)="!loseScreen = false">Torna nella ToGameList
    </button>
</div>

<div class="latoPersonaggio statistiche d-flex flex-column text-center" *ngIf="toGameListTutorials">
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
<p>Tutorial che ti insegna roba figa, lalala</p>
</div>


