
<div class="contenitorePG py-1 text-center text-danger" >
  <div class="bg-black container py-1 text-center text-danger" >
    <div class="blackBG d-flex">

      <ng-template *ngIf="charAndScenario; then giorno else notte"></ng-template>
      <ng-template #giorno>
        <div class="roomGiorno container col-12 me-3">
        <img *ngIf="charAndScenario"
               src="http://www.avatarsinpixels.com/minipix/eyJCb2R5IjoiMSIsIkV5ZXMiOiIyIiwiTW91dGgiOiIzIiwiU29ja3MiOiIxMiIsIlNob2VzIjoiMSIsIlBhbnRzIjoiMSI
               sIlRvcCI6IjMiLCJIYWlyIjoiMSIsInNraW5Ub25lIjoiZTVhY2EyIiwiZXllc1RvbmUiOiJhZTU2YTEiLCJleWVzVG9uZTIiOiIwNjZhOWYiLCJtYXNrVG9uZSI6IjkzZTYwZCIsImhhaXJ
               Ub25lIjoiMTUxZjMyIiwiaGFpclRvbmUyIjoiYWNlYTI5IiwidW5kZXJ3ZWFyVG9uZSI6IjU4MTBlNiIsInVuZGVyd2VhclRvbmUyIjoiZTI5OGQ0IiwicGFudHNUb25lIjoiMDQ0OTZlIiw
               icGFudHNUb25lMiI6Ijk5MzMzMiIsInRvcFRvbmUiOiIxNTFmMzIiLCJ0b3BUb25lMiI6Ijk5MzMzMiIsIndpbmdzVG9uZSI6ImMzOTQ3NyIsIndpbmdzVG9uZTIiOiJlNWFjYTIiLCJzaG9
               lc1RvbmUiOiIxNTFmMzIiLCJzb2Nrc1RvbmUiOiI4MzUyMTMiLCJzb2Nrc1RvbmUyIjoiNGZjYTUyIiwiZ2xvdmVzVG9uZSI6Ijc2MjMyOCIsImdsb3Zlc1RvbmUyIjoiMDhkOTNkIiwiaGF
               0VG9uZSI6IjUwMjdmMiIsImhhdFRvbmUyIjoiMGIzY2ExIiwiY2FwZVRvbmUiOiIyN2NkNDIiLCJjYXBlVG9uZTIiOiIzMDcxNmUiLCJiZWx0VG9uZSI6IjNkNzI5ZSIsImphY2tldFRvbmU
               iOiI0Y2U3MjUiLCJqYWNrZXRUb25lMiI6ImIyYzMxMCIsIm5lY2tUb25lIjoiMDJmOWEyIiwibmVja1RvbmUyIjoiMTU4Yzk0In0=/1/show.png"
        alt="" class="personaggio">
        </div>
      </ng-template>
      <ng-template #notte>
        <div class="roomNotte container col-12 me-3">
        <img *ngIf="charAndScenario"
               src="http://www.avatarsinpixels.com/minipix/eyJCb2R5IjoiMSIsIkV5ZXMiOiIyIiwiTW91dGgiOiIzIiwiU29ja3MiOiIxMiIsIlNob2VzIjoiMSIsIlBhbnRzIjoiMSI
               sIlRvcCI6IjMiLCJIYWlyIjoiMSIsInNraW5Ub25lIjoiZTVhY2EyIiwiZXllc1RvbmUiOiJhZTU2YTEiLCJleWVzVG9uZTIiOiIwNjZhOWYiLCJtYXNrVG9uZSI6IjkzZTYwZCIsImhhaXJ
               Ub25lIjoiMTUxZjMyIiwiaGFpclRvbmUyIjoiYWNlYTI5IiwidW5kZXJ3ZWFyVG9uZSI6IjU4MTBlNiIsInVuZGVyd2VhclRvbmUyIjoiZTI5OGQ0IiwicGFudHNUb25lIjoiMDQ0OTZlIiw
               icGFudHNUb25lMiI6Ijk5MzMzMiIsInRvcFRvbmUiOiIxNTFmMzIiLCJ0b3BUb25lMiI6Ijk5MzMzMiIsIndpbmdzVG9uZSI6ImMzOTQ3NyIsIndpbmdzVG9uZTIiOiJlNWFjYTIiLCJzaG9
               lc1RvbmUiOiIxNTFmMzIiLCJzb2Nrc1RvbmUiOiI4MzUyMTMiLCJzb2Nrc1RvbmUyIjoiNGZjYTUyIiwiZ2xvdmVzVG9uZSI6Ijc2MjMyOCIsImdsb3Zlc1RvbmUyIjoiMDhkOTNkIiwiaGF
               0VG9uZSI6IjUwMjdmMiIsImhhdFRvbmUyIjoiMGIzY2ExIiwiY2FwZVRvbmUiOiIyN2NkNDIiLCJjYXBlVG9uZTIiOiIzMDcxNmUiLCJiZWx0VG9uZSI6IjNkNzI5ZSIsImphY2tldFRvbmU
               iOiI0Y2U3MjUiLCJqYWNrZXRUb25lMiI6ImIyYzMxMCIsIm5lY2tUb25lIjoiMDJmOWEyIiwibmVja1RvbmUyIjoiMTU4Yzk0In0=/1/show.png"
        alt="" class="personaggio">
        </div>
      </ng-template>


     <div class="latoPersonaggio d-flex justify-content-between col-12 align-self-center">
       <div class="barrePersonaggio col-12">
          <p class="">Livello personaggio</p>
          <div class="pb-3">
            <img class="cuoreLife pe-1" src="../../../../assets/cuoreIntero.png" alt="cuore">
            <img class="cuoreLife pe-1" src="../../../../assets/cuoreIntero.png" alt="cuore">
            <img class="cuoreLife pe-1" src="../../../../assets/cuoreIntero.png" alt="cuore">
            <img class="cuoreLife pe-1" src="../../../../assets/cuoreIntero.png" alt="cuore">
            <img class="cuoreLife pe-1" src="../../../../assets/MezzoCuore.png" alt="cuore">
          </div>
          <p class="">Barra della stanchezza</p>
          <p class="">Barra del mana</p>
          <p class="textos">
            Forza:     <span class="pe-4">     3</span>
            Armatura:  <span class="pe-4">     4</span>
            Velocità:  <span class="pe-4">     4</span>
          </p>
        </div>
        <div class="latoPersonaggio statistiche col-6 align-self-center ms-4">
          <p>PUNTI AZIONE: <span>5</span></p>
          <p>ALTRA ROBA:<span>5</span></p>
        </div>

        <ng-template *ngIf="charAndScenario; then combattimento else torniamoACasa"></ng-template>
        <ng-template #combattimento>
          <div class="align-self-center col-12">
            <button (click)="toBattle()" class="py-5 btn btn-danger">COMBATTIAMO!</button>
          </div>
        </ng-template>
        <ng-template #torniamoACasa>
          <div class="align-self-center col-12">
            <button (click)="toBattle()" class="py-5 btn btn-success">Torniamo a casa</button>
          </div>
        </ng-template>

      </div>

    </div>
  </div>
</div>



<!-- CAMPO DI BATTAGLIA -->

<div *ngIf="battleGround" class="container d-flex battleGround py-3 ps-4">

  <div class="menu"></div>

  <div class="">

    <div class="scenarioBattaglia d-flex text-center justify-content-between">
      <!-- PERSONAGGIO -->
      <div class="align-self-center">
        <img *ngIf="avatarStandards"
          src="../../../../assets/AvatarSTANDARD.png"
        alt="" class="personaggioInBattaglia" [ngClass]="{ 'custom-margin': applyMargin }">

        <img *ngIf="avatarAttacco"
          src="../../../../assets/AvatarCOMBATATTACCO.png"
        alt="" class="personaggioInBattaglia" [ngClass]="{ 'custom-margin': applyMargin }">
      </div>

      <div class="align-self-center">
        <!-- NEMICO -->
        <img *ngIf="!charAndScenario"
      src="http://www.avatarsinpixels.com/minipix/eyJXaW5ncyI6IjYiLCJIYWlyTG93ZXIiOiI1IiwiQ2FwZUJhY2siOiIzIiwiQm9keSI6IjMiL
      CJFeWVzIjoiMjgiLCJNb3V0aCI6IjE3IiwiU2hvZXMiOiI1IiwiR2xvdmVzIjoiNyIsIlBhbnRzIjoiMyIsIlRvcCI6IjE2IiwiQmVsdCI6IjEiLCJKYW
      NrZXQiOiIzIiwiQ2FwZSI6IjQiLCJOZWNrIjoiMyIsIkhhaXIiOiIxNiIsIkdsYXNzZXMiOiIxMyIsImhhaXJUb25lIjoiYmViZWJlIiwicGFudHNUb25
      lIjoiODMwNTA1IiwicGFudHNUb25lMiI6ImVmMDAwMCIsInRvcFRvbmUiOiI1NTU1NTUiLCJ3aW5nc1RvbmUiOiI5ZjBiMjMiLCJ3aW5nc1RvbmUyIjoi
      MDUwMjM3IiwiY2FwZVRvbmUiOiIyYTQ0MTAiLCJiZWx0VG9uZSI6IjlmMGIyMyIsImphY2tldFRvbmUiOiI4MzA1MDUifQ==/1/show.png"
        alt="" class="nemicoInBattaglia" [ngClass]="{ 'custom-enemy': applyMarginEnemy }">
      </div>
    </div>
    <div class="battleButtons d-flex justify-content-center">
      <button (click)="attackMove()" class="mx-3 mt-3">Attacca</button>
      <button class="mx-3 mt-3">Difendi</button>
      <button class="mx-3 mt-3">FattiNaSega</button>
    </div>

  </div>

  <div class="menu"></div>

</div>

<!-- <div class="text-center mt-5">

  <button (click)="moveSx()"><-</button>
  <button (click)="moveUp()">^</button>
  <button (click)="moveDown()">v</button>
  <button (click)="moveDx()">-></button>
  <div>
    <button (click)="reset()">Reset</button>
  </div>
</div> -->

<!--
<div class="cuboPg bg-black"
    [style.left.px]="marginSize"
    [style.bottom.px]="marginSizeTop"
    [style.padding-left.px]="paddingSx"
    [style.padding-right.px]="paddingDx">


      <div class="dialogo" *ngIf="isVisible">
      <p class="">Benvenuto a ToGameList!</p>
      <div class="dialogo2">....</div>
    </div>

    <div class="cappelloPg">
      <p class="testoCappello">cappello</p>
    </div>
    <span>o.o</span>
  </div> -->
