.contenitorePG {
  position: relative;
  background-image: url(../../../../assets/SfondoCampo.jpg);
  background-size:contain;
  height: 310px;
}
.personaggio {
  margin-top: 135px;
  width: 150px;
  height: 150px;
}

.room{
  background-image: url(../../../../assets/Stanza.jpeg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  height: 290px;

}
.blackBG{
  background-color: black;
  width: 400px;
  background-position: center;
  height: 290px;
  border-radius: 10px 10px 10px 10px;
}
