.puntatoreLoco {
  cursor: pointer;
}

.myTodoList{
  border-radius: 10px 10px 10px 10px;
  background: #24542b;
}

.myTodoListCompletata{
  font-size: 2rem;
  background: #b1c99f;
  color: rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
}
.infoRicompense{
  border: 10px ridge #ffaf50;
  background-color: rgb(219, 199, 160);
  font-weight: bold;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 5% 5% 5% 5%;
}
.pngRicompense{
  height: 20px;
}
.divSeparatore{
  height: 50px;
}
