.myTodoList{
  border-radius: 10px 10px 10px 10px;
  background: #24542b;
}

.myTodoListCompletata{
  font-size: 2rem;
  background: #b1c99f;
  color: rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
}
