form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.register{
  width: 300px;

}
.pagLogIn{
  color: white;
  background-color: black;
  padding-top: 70px;
  padding-bottom: 70px;
  max-width: 15%;
  margin: 0 auto;
  border-radius: 10% 10% 10% 10%;
  }
.toGameListLogo{
  background-image: url("../../../../assets/ToGameListLogo.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 275px;
  width: 400px;

}
