form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.register{
  width: 300px;

}
.pagLogIn{
  color: white;
  background-color: black;
  padding-top: 150px;
  padding-bottom: 150px;
  max-width: 40%;
  margin: 0 auto;
  border-radius: 10% 10% 10% 10%;
  }
